.input-container{
    margin-bottom: 50px;
    text-align: center;
    input{
        min-width: 400px;
        padding: 10px;
        border: 1px solid $color-1;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 400;
        color: $color-1;
        &:focus{
            outline: none;
            border: 1px solid $color-2;
        }
    }
}